/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

app-otro{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-end;
}