<div *ngFor="let materia of materias">
  <div><h1>{{materia.nombre}}</h1></div>
  <div *ngFor="let tema of materia.temas">
    <div class="tema">{{tema.nombre}}</div>
  </div>
</div>

<br>
<button>Ir a Otro</button>