<form #formulario="ngForm" (ngSubmit)="crearMateria(formulario)">
  <input type="text" name="nombre" placeholder="Compugráfica" ngModel required>
  <input type="number" name="semestre" placeholder="5" ngModel required>
  <input type="text" name="carrera" placeholder="Multimedia" ngModel required>
  <input type="file" name="image" id="image">
  <input type="submit">
</form>

<img [src]="img" alt="">